# Python-välikäännöstiedostot
__pycache__/
*.py[cod]
*.pyo

# PyInstaller build artefacts
build/
dist/
*.spec

# Streamlitin istuntotila
*.streamlit/

# Doccer istuntotila
*.devcontainer/

# Conda-ympäristötiedostot
*.conda
*.env
*.venv
env/
venv/

# Jupyter Notebookin välioutputit
.ipynb_checkpoints/

# VSCode/VSCodium asetukset
.vscode/
.history/

# MacOS ja Windows järjestelmätiedostot
.DS_Store
Thumbs.db

# Lokit ja tilapäistiedostot
*.log
*.tmp

# CSV- ja datatiedostot (jos generoitu automaattisesti)
*.csv

# Testitulokset
htmlcov/
*.cover
*.coverage
.cache/
nosetests.xml
coverage.xml
*.testbuild/
dist/
*.spec
__pycache__/
*.pyc
*.egg-info/
*.dist-info/
