streamlit==1.50.0
pandas
matplotlib
folium
streamlit-folium
numpy
requests
chardet
python-dateutil
cmocean
# asentaa aina dev-haaran HEADin
icing-utils @ git+https://github.com/vonjpthirvon/icing_utils.git@dev
