altair
asttokens
attrs
blinker
branca
Brotli
cachetools==6.2.0
certifi
cffi
chardet
charset-normalizer
click
cmocean
colorama
colorspacious
comm
contourpy
cycler
debugpy
decorator
exceptiongroup
executing
folium
fonttools
gitdb
GitPython
h2
hpack
hyperframe
idna
importlib_metadata
ipykernel
ipython
ipython_pygments_lexers
jedi
Jinja2
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kiwisolver
MarkupSafe
matplotlib==3.10.6
matplotlib-inline
munkres==1.1.4
narwhals
nest_asyncio
numpy
packaging
pandas
parso
pickleshare
pillow
platformdirs
prompt_toolkit
protobuf
psutil
pure_eval
pyarrow
pycparser
pydeck
Pygments
pyparsing
PySide6==6.9.3
PySocks
python-dateutil
pytz
pywin32
PyYAML
pyzmq
referencing
requests
rpds-py
shiboken6==6.9.3
six
smmap
stack_data
streamlit==1.50.0
streamlit-folium
tenacity
toml
tornado
traitlets
typing_extensions
tzdata
unicodedata2
urllib3
watchdog
wcwidth
win_inet_pton
xyzservices
zipp
zstandard==0.25.0
